{% extends 'base.html.twig' %}

{% block title %}Fiche Contact{% endblock %}

{% block body %}
<h1 class="text-center pt-2">Fiche Contact</h1>

<div class="container pt-5">
  <div class="row justify-content-center">
      <div class="col-md-5 col-lg-3 mb-5 d-flex justify-content-center pt-3">
        <div class="card text-center">
          <h3 class="card-header">{{ leContact.nom }} {{ leContact.prenon }}</h3>
          <img style="width: 250px; height: 200px; margin: auto;" src="{{ leContact.avatar }}" alt="Avatar">
          <ul class="list-group list-group-flush"> <hr>
            <li class="list-group-item">{{ leContact.rue }}</li> <hr>
            <li class="list-group-item">{{ leContact.cp }}</li> <hr>
            <li class="list-group-item">{{ leContact.ville }}</li> <hr>
            <li class="list-group-item">{{ leContact.mail }}</li> <hr>
            <li class="list-group-item">
              {% if leContact.sexe == 0 %}
                <span class="badge bg-primary">Homme</span>
              {% else %}
                <span class="badge bg-danger">Femme</span>
              {% endif %}
            </li>
          </ul>
          <div class="card-body">
            <a href="{{path('contact')}}" class="btn btn-warning">retour list</a>
          </div>
        </div>
      </div>
<style>
body{
  background-color: rgb(0, 0, 0);
}
  .card-header {
    width: 100%;
    background-color:rgb(0, 0, 0);
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
    font-family: Roboto Mono ;
    border-radius: 1px;
    padding: 30px;
    border: 5px solid rgb(107, 0, 0);
  }
  .card-header:hover {
    color: rgb(97, 3, 3);
    text-decoration: none;
  }
  .list-group-item {
    font-size: 18px;
    background-color:rgb(12, 6, 6);
  }
 img {
  border : 10px solid rgb(0, 0, 0);
 }

 .card{
  background-color: rgb(112, 0, 0);
  border-radius: 10px;
  box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.1);
  
  }
   @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .text-center{ 
  color: white;
  text -decoration: none;
  font-size: 50px;
  font-family: "Liste des Contacts", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  }
  .text-center:hover{
  color: rgb(95, 0, 0);
  text-decoration: none;
  cursor: crosshair;

  }
</style>
{% endblock %}