{% extends 'base.html.twig' %}

{% block title %}Fiche Contact{% endblock %}

{% block body %}
<h1 class="text-center pt-2">Fiche Contact</h1>

<div class="container pt-5">
  <div class="row justify-content-center">
      <div class="col-md-3 col-lg-3 mb-5 d-flex justify-content-center">
        <div class="card text-center">
          <h3 class="card-header">{{ leContact.nom }} {{ leContact.prenon }}</h3>
          <img style="width: 250px; height: 200px; margin: auto;" src="{{ leContact.avatar }}" alt="Avatar">
          <ul class="list-group list-group-flush"> <hr>
            <li class="list-group-item">{{ leContact.rue }}</li> <hr>
            <li class="list-group-item">{{ leContact.cp }}</li> <hr>
            <li class="list-group-item">{{ leContact.ville }}</li> <hr>
            <li class="list-group-item">{{ leContact.mail }}</li> <hr>
            <li class="list-group-item">
              {% if leContact.sexe == 0 %}
                <span class="badge bg-primary">Homme</span>
              {% else %}
                <span class="badge bg-danger">Femme</span>
              {% endif %}
            </li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-info">Voir le profil</a>
          </div>
        </div>
      </div>
<style>
body{
  background-color: rgb(36, 36, 36);
}
  .card-header {
    background-color:rgb(83, 83, 83);
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
    font-family: Roboto Mono ;
    border-radius: 1px;
    padding: 20px;
    border: 5px solid rgb(70, 68, 68);
  }
  .card-header:hover {
    color: rgb(46, 46, 46);
    text-decoration: none;
  }
  .list-group-item {
    font-size: 18px;
    background-color:rgb(43, 43, 43);
  }
 img {
  border : 10px solid rgb(92, 92, 92);
 }

 .card{
  background-color: rgb(49, 49, 49);
  border-radius: 10px;
  box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.1);}
  .text-center{ 
  color: black;
  text -decoration: none;
  font-size: 50px;
  font-family: "Liste des Contacts", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  }
  .text-center:hover{
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: crosshair;

  }
</style>
{% endblock %}